In [28]:
%pip install StrEnum
%pip install tabulate

Requirement already satisfied: StrEnum in /opt/anaconda3/lib/python3.8/site-packages (0.4.7)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tabulate in /opt/anaconda3/lib/python3.8/site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.

In [29]:
#imports 
from tabulate import tabulate
from strenum import StrEnum
import datetime

## Zadanie 1

In [30]:

## Enums with toString
class Gender(StrEnum):
    MALE = "Male",
    FEMALE = "Female"

class Genus(StrEnum):
    CANIS = "Canis",
    FELIS = "Felis"

In [31]:

class Animal:
    def __init__(self, genus, gender=Gender.FEMALE):
        self.isAlive = True
        self.gender = gender
        self.genus = genus

    def breed(self, partner):
        try:
            if self.gender == Gender.FEMALE and partner.gender == Gender.MALE and self.genus == partner.genus:
                child = Animal(genus=self.genus)
                return child
            else:
                return None
        except AttributeError:
            print("Attribute not found")
    
    def __str__(self):
        return "isAlive: {}, gender: {}, genus: {}".format(self.isAlive, self.gender, self.genus)


class Cat(Animal):
    def __init__(self, gender=Gender.FEMALE):
        self.isAlive = True
        self.gender = gender
        self.genus = Genus.FELIS 
    def purr(self):
        return "purr"

class Dog(Animal):
    def __init__(self, gender=Gender.FEMALE):
        self.isAlive= True
        self.gender = gender
        self.genus = Genus.CANIS
    def woof(self):
        return "woof woof"

In [32]:
cat = Cat(gender=Gender.FEMALE)
cat2 = Cat(gender=Gender.MALE)
cat_child = cat.breed(cat2)
print(cat_child)

dog = Dog()
dog2 = Dog(gender=Gender.MALE)
dog_child = dog.breed(dog2)
print(dog_child)

isAlive: True, gender: Female, genus: Felis
isAlive: True, gender: Female, genus: Canis

## Zadanie 2

In [33]:
class Worker:

    def __init__(self, number, name, age, salary):
        self.number = number
        self.name = name
        self.age = age
        self.salary = salary
     
    def show_table(workers):
        print(tabulate(workers, headers=["Number", "Name", "Salary", "Age"]))

    def as_arr(self):
        return [self.number, self.name, self.salary, self.age]

w1 = Worker(1, "Adam", 1983, 1500)
w2 = Worker(2, "Anna", 1981, 1700)
w3 = Worker(3, "Błażej", 1990, 1800)
w4 = Worker(4, "Beata", 1992, 1600)
w5 = Worker(5, "Czesław", 1980, 2000)
w6 = Worker(6, "Cecylia", 1983, 2100)
w7 = Worker(7, "Daniel", 1976, 1900)
workers = [w1, w2, w3, w4, w5, w6, w7]
workers_for_table = [i.as_arr() for i in workers]
Worker.show_table(workers_for_table)

  Number  Name       Salary    Age
--------  -------  --------  -----
       1  Adam         1500   1983
       2  Anna         1700   1981
       3  Błażej       1800   1990
       4  Beata        1600   1992
       5  Czesław      2000   1980
       6  Cecylia      2100   1983
       7  Daniel       1900   1976

In [34]:
def avg(workers):
    count = 0
    sal = 0
    for w in workers:
        sal = sal + w.salary
        count = count + 1 
    return sal / count 

def compareAvgs(workers):
    year_now = datetime.date.today().year
    group_younger = []
    group_older = []
    for w in workers:
        if year_now - w.age > 30:
            group_older.append(w)
        else:
            group_younger.append(w)
    
    avg_younger = avg(group_younger)
    avg_older = avg(group_older)
    print("For group of workers 30 years old and below average salary is {}. For group of workers above 30 years old salary is {}. Difference is: {}".format(avg_younger, avg_older, abs(avg_younger-avg_older)))

print("Average sal is {}".format(avg(workers)))
compareAvgs(workers)

Average sal is 1800.0
For group of workers 30 years old and below average salary is 1600.0. For group of workers above 30 years old salary is 1833.3333333333333. Difference is: 233.33333333333326

In [35]:
#cleanup
!python -m pip uninstall StrEnum --yes 
!python -m pip uninstall tabulate --yes

Found existing installation: StrEnum 0.4.7
Uninstalling StrEnum-0.4.7:
  Successfully uninstalled StrEnum-0.4.7
Found existing installation: tabulate 0.8.9
Uninstalling tabulate-0.8.9:
  Successfully uninstalled tabulate-0.8.9