In [1]:
import pandas as pd 
import numpy as np

## Zadanie 1

In [5]:
df = pd.read_csv("PAD_03_PD.csv", delimiter=";")

In [9]:
df.head()

   ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0   1       A       0.0      0.0         0.0           1      M   61
1   2       B       0.0      0.0         0.0           1      M   44
2   3       A       0.0      0.0         0.0           1      M   56
3   4       A       0.0      0.0         0.0           1      M   53
4   5       C       1.0      1.0         0.0           1      K   60

In [8]:
df["Country"].value_counts()

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

## Zadanie 2

In [10]:
df["owned_goods"] = df["owns_car"]+df["owns_TV"]+df["owns_house"]+df["owns_Phone"]
df.head()

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0